.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* 背面可见性，指定当元素背面朝向观察者时是否可见
    在执行下面淡入动画时，会有一点向上位移的抖动，使动画看起来有点晃。
    通过此属性来进行优化动画。
  */
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    /* 转换块级元素，占据一行 */
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;

    /* animation-name: moveInLeft;
    animation-duration: 1s; */
    /* 动画执行效果，控制动画节奏 */
    /* animation-timing-function: ease-out; */

    /*
      animation-delay: 3s;
      animation-iteration-count: 3;
    */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
  }
}